<!DOCTYPE html>
<html>
    <head>
        <title>Node js CRUD </title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body class="bg-dark">
        <div class="row">
            <div class="col-md-6 offset-md-3 mt-4 p-4 bg-light" >

        {{{body}}}
            </div>
        </div>
    </body>
</html>